Projects/DataModelingWithCassandra/event_datafile_new.csv
Projects/DataModelingWithCassandra/.ipynb_checkpoints
04_AWS_DataWarehousing/redshift_credentials.txt
04_AWS_DataWarehousing/awsCredentials_airflow-redshift-user.csv